# Resend
RESEND_API_KEY=<your_resend_key>
RESEND_FROM_EMAIL="AuthBox <onboarding@resend.dev>"

# SendGrid
SENDGRID_API_KEY=<your_sendgrid_key>
SENDGRID_FROM_EMAIL=nyandopeter2@gmail.com
SENDGRID_FROM_NAME=TestAuthBox

# SMTP Gmail
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=nyandopeter2@gmail.com
SMTP_PASSWORD=<your_gmail_app_password>
SMTP_FROM_EMAIL="AuthBox <nyandopeter2@gmail.com>"
